<?xml version="1.0"?>
<robot name="TS0" xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:arg name="namespace" default="/"/>

     <!-- ====================================================
                           Base Includes
     ========================================================= -->
	<xacro:include filename="$(find terrasentia_description)/config/tsv2_default_config.urdf.xacro"/>
	<xacro:include filename="$(find terrasentia_description)/urdf/links_v2.urdf.xacro"/>
	<xacro:include filename="$(find terrasentia_description)/config/sensors_tsv2_default_config.urdf.xacro"/>
     <!-- ====================================================
                           Components
     ========================================================= -->
	<xacro:base_footprint parent="base_footprint" child="base_link"/>
	<xacro:chassis_v2 name="base_link" stl_chassis="${STL_CHASSIS}" stl_lid="${STL_LID}" simplified="true" color="grey"/>

	<xacro:leg_type_1 prefix="front" suffix="left" reflect="-1" color="orange" simplified="true" verbose="false"
		stl="${STL_LEG_1}" damping="${SPRING_DAMPING}" stiffness="${SPRING_STIFFNESS}"
		min="0.0" max="0.44" spring_reference="0.44" parent="base_link">
		<origin_inertial xyz="-0.01384 -0.12814 0.04825" rpy="0 0 0" />
	</xacro:leg_type_1>

	<xacro:leg_type_1 prefix="rear" suffix="right" reflect="1" color="orange" simplified="true" verbose="false"
		stl="${STL_LEG_1}" damping="${SPRING_DAMPING}" stiffness="${SPRING_STIFFNESS}"
		min="-0.45" max="0.0" spring_reference="-0.45" parent="base_link" >
		<origin_inertial xyz="-0.01791 -0.01418 0.04825" rpy="0 0 0" />
	</xacro:leg_type_1>

	<xacro:leg_type_2 prefix="front" suffix="right" reflect="-1" color="white" simplified="true" verbose="false"
		stl="${STL_LEG_2}" damping="${SPRING_DAMPING}" stiffness="${SPRING_STIFFNESS}"
		min="0.0" max="0.44" spring_reference="0.44" parent="base_link">
		<origin_inertial xyz="0 0.0711 0.09735" rpy="0 0 0" />
	</xacro:leg_type_2>

	<xacro:leg_type_2 prefix="rear" suffix="left" reflect="1" color="white" simplified="true" verbose="false"
		stl="${STL_LEG_2}" damping="${SPRING_DAMPING}" stiffness="${SPRING_STIFFNESS}"
		min="-0.45" max="0.0" spring_reference="-0.45" parent="base_link" >
		<origin_inertial xyz="-0.00066 -0.04553 0.09735" rpy="0 0 0" />
	</xacro:leg_type_2>


	<xacro:wheel parent="base_link" simplified="true" prefix="front" suffix="right" stl="${STL_WHEEL}" reflect="1" friction="${FR_WHEEL_FRICTION}" color="grey" />
	<xacro:wheel parent="base_link" simplified="true" prefix="rear" suffix="right" stl="${STL_WHEEL}" reflect="-1" friction="${RR_WHEEL_FRICTION}" color="grey" />
	<xacro:wheel parent="base_link" simplified="true" prefix="front" suffix="left" stl="${STL_WHEEL}" reflect="1" friction="${FL_WHEEL_FRICTION}" color="grey" />
	<xacro:wheel parent="base_link" simplified="true" prefix="rear" suffix="left" stl="${STL_WHEEL}" reflect="-1" friction="${RL_WHEEL_FRICTION}" color="grey" />

     <!-- ====================================================
                           Camera Gimbals
     ========================================================= -->
	<!-- <xacro:front_camera_gimbal_assembly />
	<xacro:left_camera_gimbal_assembly />
	<xacro:right_camera_gimbal_assembly /> -->




     <!-- ====================================================
          Include All Add-Ons (Sensors and Controllers)
     ========================================================= -->
     <!-- <xacro:include filename="$(find terrasentia_v2)/config/sensors_default_config.urdf.xacro"/> -->


     <!-- ====================================================
                           Controllers
     ========================================================= -->
     <gazebo>
          <plugin name="skid_steer_drive_controller" filename="libterra_ros_skid_steer.so">
               <updateRate>50.0</updateRate>
               <robotNamespace>$(arg namespace)</robotNamespace>
               <leftFrontJoint>front_left_wheel_joint</leftFrontJoint>
               <rightFrontJoint>front_right_wheel_joint</rightFrontJoint>
               <leftRearJoint>rear_left_wheel_joint</leftRearJoint>
               <rightRearJoint>rear_right_wheel_joint</rightRearJoint>
               <wheelSeparation>0.4318</wheelSeparation>
               <wheelDiameter>0.194</wheelDiameter>
               <pulsesPR>9510</pulsesPR>
               <torque>6.767</torque>
               <topicName>cmd_vel</topicName>
               <broadcastTF>true</broadcastTF>
               <commandTopic>cmd_vel</commandTopic>
               <odometryTopic>odom</odometryTopic>
			<robotBaseFrame>$(arg namespace)/base_footprint</robotBaseFrame>
			<odometryFrame>$(arg namespace)/odom</odometryFrame>
               <covariance_x>0.0001</covariance_x>
               <covariance_y>0.0001</covariance_y>
               <covariance_yaw>0.01</covariance_yaw>
          </plugin>
     </gazebo>

</robot>
