<?xml version="1.0"?>

<model>
     <name>Corn Variant 5</name>
     <version>1.0</version>
     <sdf version='1.5'>model.sdf</sdf>

     <author>
          <name>Hunter Young</name>
          <email>hunter.lw.young@gmail.com</email>
     </author>

     <description>
          Corn Stalk (Blender Variant 5a)
     </description>
</model>
